{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="tags">
        {% for tag in post.tags.all %}
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %} ,{% endif %}
        {% endfor %}
    </p>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url 'blog:share_post' post.id %}">
            Share this post
        </a>
    </p>
    <p class="comments">
        <h2>Comments</h2>

        {% for comment in comments %}
            <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
            </div>
        {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}

        <h2>Add a comment</h2>
        {% if new_comment %}
            <h2>Your comment has been added.</h2>
        {% else %}
            <form method="post">
                {{ comment_form.as_p }}
                <input type="submit" value="Post comment">
                {% csrf_token %}
            </form>
        {% endif %}
    </p>
{% endblock %}
